@mixin button-styles {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

a,
button {
  @include button-styles;

  cursor: pointer;

  margin: 0;
  padding: 0;

  text-align: center;
  text-decoration: none;

  background: none;
  border: none;
  outline: none;
}

button {
  display: flex;
  gap: 10px;
}

.primary {
  padding: 6px 28px;

  color: var(--light-100, #fff);

  background-color: var(--primary-500, #8c61ff);
  border-radius: 4px;
  box-shadow: 0 4px 18px 0 rgb(140 97 255 / 35%);

  &:active {
    background: var(--primary-700, #704ecc);
  }

  &:hover {
    background: var(--primary-300, #a280ff);
  }

  &:focus {
    border: 2px solid var(--info-700, #2f68cc);
    border-radius: 4px;
  }

  &:disabled {
    cursor: auto;
    color: var(--light-900, #c3c1c7);
    background: var(--primary-900, #382766);
  }
}

.secondary {
  padding: 6px 28px;

  color: var(--light-100, #fff);

  background-color: var(--dark-300, #4c4c4c);
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgb(109 109 109 / 25%);

  &:active {
    background: var(--dark-500, #333);
  }

  &:hover {
    background: var(--dark-100, #808080);
  }

  &:focus {
    background: var(--dark-300, #4c4c4c);
    border: 2px solid var(--info-700, #2f68cc);
    border-radius: 4px;
  }

  &:disabled {
    cursor: auto;
    color: var(--light-900, #c3c1c7);
    background: var(--dark-300, #4c4c4c);
  }
}

.tertiary {
  padding: 8px 28px;
  color: var(--primary-500, #8c61ff);
  border: 1px solid var(--primary-500, #8c61ff);
  border-radius: 4px;

  &:active {
    background-color: var(--primary-900, #382766);
    border: 1px solid var(--primary-700, #704ecc);
  }

  &:hover {
    background-color: var(--dark-500, #333);
    border: 1px solid var(--primary-700, #704ecc);
  }

  &:focus {
    outline: 2px solid var(--info-700, #2f68cc);
  }

  &:disabled {
    cursor: auto;
    color: var(--primary-900, #382766);
  }
}

.link {
  padding: 8px 14px;
  color: var(--primary-500, #8c61ff) !important;

  &:active {
    color: var(--primary-700, #704ecc);
  }

  &:hover {
    color: var(--primary-300, #a280ff);
  }

  &:focus {
    padding: 6px 12px;
    border: 2px solid var(--info-700, #2f68cc);
    border-radius: 18px;
  }

  &:disabled {
    color: var(--primary-900, #382766);
  }
}

.fullWidth {
  width: 100%;
}
